# IDE Files
#-------------------------
.DS_Store
.idea/*
sftp-config.json
sftp.json
*.code-workspace
.vscode
.vs
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
*.map

# Project Files
#-------------------------
.sass-cache
.idea
nbproject
nbproject/private
*.log
*.zip

# Nodes
#-------------------------
node_modules
package-lock.json
vendor
public