<div id="sidebar" class="sidebar">
            <div class="sidebar-content">
                <!-- sidebar-menu  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Categories</span>
                        </li>
                        <li class="<% if (htmlWebpackPlugin.options.topmenu == 'db') { %>active<% } %>">
                            <a href="index.html">
                                <i class="ti-dashboard"></i>
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-dropdown <% if (htmlWebpackPlugin.options.topmenu == 'cp') { %>active<% } %>">
                            <a href="#">
                                <i class="ti-plug"></i>
                                <span class="menu-text">Components</span>
                                <span class="badge badge-pill badge-danger">3</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'cpdate') { %>class="active" <% } %>>
                                        <a href="cp_date_time.html">Date & Time</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'cptoggle') { %>class="active" <% } %>>
                                        <a href="cp_bstoggle.html">Bootstrap Toggle</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown <% if (htmlWebpackPlugin.options.topmenu == 'ui') { %>active<% } %>">
                            <a href="#">
                                <i class="ti-palette"></i>
                                <span class="menu-text">UI Elements</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'uitypo') { %>class="active"<% } %>>
                                        <a href="ui_typography.html">Typography</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'uicolor') { %>class="active" <% } %>>
                                        <a href="ui_colors.html">Colors</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'uifa') { %>class="active"<% } %>>
                                        <a href="ui_fontawesome.html">Fontawesome Icons</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'uithemify') { %>class="active"<% } %>>
                                        <a href="ui_themify.html">Themify Icons</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'uibutton') { %>class="active"<% } %>>
                                        <a href="ui_buttons.html">Buttons</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'uicard') { %>class="active"<% } %>>
                                        <a href="ui_cards.html">Cards</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'uimodal') { %>class="active"<% } %>>
                                        <a href="ui_modals.html">Modals</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'uitoastr') { %>class="active"<% } %>>
                                        <a href="ui_toastr.html">Toastr Notifications</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown <% if (htmlWebpackPlugin.options.topmenu == 'tb') { %>active<% } %>">
                            <a href="#">
                                <i class="ti-layout-grid2"></i>
                                <span class="menu-text">Tables</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'tbbasic') { %>class="active" <% } %>>
                                        <a href="tb_basic.html">Basic Tables</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'tbdatatables') { %>class="active" <% } %>>
                                        <a href="tb_datatables.html">Datatables</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown <% if (htmlWebpackPlugin.options.topmenu == 'fm') { %>active<% } %>">
                            <a href="#">
                                <i class="ti-write"></i>
                                <span class="menu-text">Forms</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'fmcontrol') { %>class="active" <% } %>>
                                        <a href="fm_control.html">Form Control</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'fmupload') { %>class="active" <% } %>>
                                        <a href="fm_file_upload.html">File Upload</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'fmdropzone') { %>class="active" <% } %>>
                                        <a href="fm_dropzone.html">Dropzone Upload</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown <% if (htmlWebpackPlugin.options.topmenu == 'ch') { %>active<% } %>">
                            <a href="#">
                                <i class="ti-bar-chart"></i>
                                <span class="menu-text">Charts</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'ch') { %>class="active" <% } %>>
                                        <a href="chart_pie.html">Pie chart</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'ch') { %>class="active" <% } %>>
                                        <a href="chart_line.html">Line chart</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'ch') { %>class="active" <% } %>>
                                        <a href="chart_bar.html">Bar chart</a>
                                    </li>
                                    <li <% if (htmlWebpackPlugin.options.submenu == 'ch') { %>class="active" <% } %>>
                                        <a href="chart_histogram.html">Histogram</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-menu">
                            <span>Extra</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="ti-file"></i>
                                <span class="menu-text">Pages</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="page_login.html" target="_blank">Login</a>
                                    </li>
                                    <li>
                                        <a href="page_profile.html">Profile</a>
                                    </li>
                                    <li>
                                        <a href="page_about.html">About</a>
                                    </li>
                                    <li>
                                        <a href="page_contact.html">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="ti-layers-alt"></i>
                                <span class="menu-text">Multi-Levels Menu</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="javascript:;">Submenu Level 1</a>
                                        <div class="sidebar-submenu">
                                            <ul>
                                                <li><a href="javascript:;">Submenu Level 2</a></li>
                                                <li><a href="javascript:;">Submenu Level 2</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Submenu Level 1</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Submenu Level 1</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="documenation.html">
                                <i class="ti-agenda"></i>
                                <span class="menu-text">Documentation</span>
                                <span class="badge badge-pill badge-primary">Beta</span>
                            </a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="ti-calendar"></i>
                                <span class="menu-text">Calendar</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/siQuang/siqtheme" target="_blank">
                                <i class="ti-github"></i>
                                <span class="menu-text">Github/siQtheme</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
        </div>