<!DOCTYPE html>
<html lang="en">

<head>
    <% include src/partials/meta.ejs %>

    <title><%= htmlWebpackPlugin.options.title %></title>

    <% include src/partials/styles.ejs %>
</head>

<body class="theme-dark">
    <div class="grid-wrapper sidebar-bg bg1">

        <!-- BOF HEADER -->
        <% include src/partials/header.ejs %>
        <!-- EOF HEADER -->

        <!-- BOF ASIDE-LEFT -->
        <% include src/partials/asideleft.ejs %>
        <!-- EOF ASIDE-LEFT -->

        <!-- BOF MAIN -->
        <div class="main">

            <!-- BOF Breadcrumb -->
            <div class="row">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="ti-home"></i> Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="">UI Elements</a></li>
                        <li class="breadcrumb-item active">Theme Colors</li>
                    </ol>
                </div>
            </div>
            <!-- EOF Breadcrumb -->

            <!-- BOF MAIN-BODY -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header uppercase">
                            <div class="caption text-primary">
                                <i class="ti-palette"></i> Theme Colors
                            </div>
                            <div class="tools">
                                <a href="#" class="btn btn-outline-primary"><i class="ti-pencil-alt"></i></a>
                                <a href="#" class="btn btn-outline-secondary"><i class="ti-settings"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="mb-5">Color can be apply normally through modifier classes <code>.btn-*</code>, <code>.text-*</code>,
                                <code>.bg-*</code>, <code>.border-*</code>, <code>.badge-*</code>, <code>.alert-*</code>,
                                <code>.modal-*</code>, <code>.card-*</code></p>
                            <h5 class="card-title">Custom Bootstrap Colors</h5>
                            <div class="colors d-flex flex-wrap">
                                <div class="card m-2">
                                    <div class="card-body bg-primary">#1791ba</div>
                                    <div class="card-footer">
                                        Primary
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-secondary">#6c757d</div>
                                    <div class="card-footer">
                                        Secondary
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-success">#17ba91</div>
                                    <div class="card-footer">
                                        Success
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-info">#4dc3ff</div>
                                    <div class="card-footer">
                                        Info
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-warning">#e8ba30</div>
                                    <div class="card-footer">
                                        Warning
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-danger">#e84a67</div>
                                    <div class="card-footer">
                                        Danger
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-light">#f8f9fa</div>
                                    <div class="card-footer">
                                        Light
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-dark">#343a40</div>
                                    <div class="card-footer">
                                        Dark
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title mt-4">siQthemes Colors</h5>
                            <div class="colors d-flex flex-wrap">
                                <div class="card m-2">
                                    <div class="card-body bg-chili">#c21807</div>
                                    <div class="card-footer">
                                        Chili
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-imperial">#ed2939</div>
                                    <div class="card-footer">
                                        Imperial
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-salmon">#fa8072</div>
                                    <div class="card-footer">
                                        Salmon
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-rose">#f64a8a</div>
                                    <div class="card-footer">
                                        Rose
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-bubblegum">#fe5bac</div>
                                    <div class="card-footer">
                                        Bubblegum
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-taffy">#f987c5</div>
                                    <div class="card-footer">
                                        Taffy
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-pumpkin">#ff7417</div>
                                    <div class="card-footer">
                                        Pumpkin
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-apricot">#eb9605</div>
                                    <div class="card-footer">
                                        Apricot
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-honey">#f9a602</div>
                                    <div class="card-footer">
                                        Honey
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-tuscany">#fcd12a</div>
                                    <div class="card-footer">
                                        Tuscany
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-mustard">#fedc56</div>
                                    <div class="card-footer">
                                        Mustard
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-lemon">#effd5f</div>
                                    <div class="card-footer">
                                        Lemon
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-grape">#6f2da8</div>
                                    <div class="card-footer">
                                        Grape
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-orchid">#af69ee</div>
                                    <div class="card-footer">
                                        Orchid
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-lilac">#b660cd</div>
                                    <div class="card-footer">
                                        Lilac
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-sapphire">#0f52ba</div>
                                    <div class="card-footer">
                                        Sapphire
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-azure">#0080fe</div>
                                    <div class="card-footer">
                                        Azure
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-carolina">#57a0d2</div>
                                    <div class="card-footer">
                                        Carolina
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-forest">#0b6623</div>
                                    <div class="card-footer">
                                        Forest
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-jade">#00a86b</div>
                                    <div class="card-footer">
                                        Jade
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-lime">#4cbb17</div>
                                    <div class="card-footer">
                                        Lime
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-apple">#80b539</div>
                                    <div class="card-footer">
                                        Apple
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-coffee">#4b3619</div>
                                    <div class="card-footer">
                                        Coffee
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-caramel">#613613</div>
                                    <div class="card-footer">
                                        Caramel
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-tortilla">#997950</div>
                                    <div class="card-footer">
                                        Tortilla
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <div class="card-body bg-charcoal">#252525</div>
                                    <div class="card-footer">
                                        Charcoal
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- EOF MAIN-BODY -->

        </div>
        <!-- EOF MAIN -->

        <!-- BOF FOOTER -->
        <% include src/partials/footer.ejs %>
        <!-- EOF FOOTER -->

        <!-- BOF ASIDE-RIGHT -->
        <% include src/partials/asideright.ejs %>
        <!-- EOF ASIDE-RIGHT -->

        <div id="overlay"></div>

    </div> <!-- END WRAPPER -->

    <% include src/partials/scripts.ejs %>
</body>

</html>